/* AddArticle.css */

.page-container {
    position: relative;
    height: 100vh; /* Zadržava punu visinu stranice */
    display: flex;
    align-items: center;


}

.register-container {
    width: 100%; /* Prilagođava širinu */
    max-width: 500px; /* Maksimalna širina kontejnera */
    padding: 40px;
     /* Poluprozirna bijela */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrirani tekst */
}

.form-group {
    margin-bottom: 20px; /* Razmak između grupa formi */
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #fff; /* Bijela boja teksta za kontrast */
}

.form-group input, .form-group button {
    width: 100%; /* Širina postavljena na 100% */
    padding: 10px; /* Udobnost pri unosu */
    margin: 5px 0; /* Malo vertikalnog prostora između elemenata */
    border: 1px solid #ccc; /* Suptilna granica */
    border-radius: 5px; /* Zaobljeni rubovi */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Unutarnja sjena za dubinu */
}

button {
    background-color: #007BFF; /* Plava boja za gumb */
    color: white; /* Bijeli tekst */
    font-size: 16px; /* Veći tekst za čitljivost */
    border: none; /* Uklanjanje granice */
    cursor: pointer; /* Pokazivač pokazuje da je klikabilno */
    transition: background-color 0.3s; /* Gladak prijelaz za hover */
}

button:hover {
    background-color: #0056b3; /* Tamnija nijansa plave na hover */
}
