.page-container {
    position: relative;
    height: 100vh; /* Full height of the viewport */
    background: url('../photos/pancake.jpg') no-repeat center center fixed; /* Adjust path as necessary */
    background-size: cover; /* Cover the entire page */
}

.register-container {
    width: 100%; /* Full width */
    max-width: 400px; /* Maximum width of the form */
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the text within the container */
    margin-top: 120px; /* Add some space between the header and the form */
}

.form-group {
    margin-bottom: 20px; /* Space between form inputs */
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: 100%; /* Full width of the form group */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #FFD79B; /* Styling for the button */
    color: #6E4C1E;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFC477; /* Darker tone on hover */
}

.dodatci-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.dodatak {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dodatak-checkbox {
    margin-right: 5px;
    cursor: pointer;
}

.dodatak-label {
    cursor: pointer;
}
