.page-container {
    position: relative;
    height: 100vh; /* Full height of the viewport */
    background-color: #1B2430; /* Dark blue background */
}

.register-container {
    width: 100%; /* Full width */
    max-width: 400px; /* Maximum width of the form */
    padding: 40px;
    background-color: #2C3E50; /* Darker shade of blue, closer to the header */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* More pronounced shadow */
    text-align: center; /* Center the text within the container */
    margin-top: 50px; /* Adjust spacing to center the form vertically */
    margin-left: auto; /* Centering the form horizontally */
    margin-right: auto; /* Centering the form horizontally */
}

.form-group {
    margin-bottom: 20px; /* Space between form inputs */
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #FFF; /* White text for better readability */
}

.form-group input {
    width: 100%; /* Full width of the form group */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3498DB; /* Bright blue border */
    background-color: #273B47; /* Slightly lighter blue for input background */
    color: #FFF; /* White text inside inputs */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); /* Subtle inner shadow */
}

button {
    background-color: #3498DB; /* Vibrant blue for buttons */
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980B9; /* Darker blue on hover */
}

.dodatci-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.dodatak {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dodatak-checkbox {
    margin-right: 5px;
    cursor: pointer;
}

.dodatak-label {
    cursor: pointer;
    color: #FFF; /* White label for better visibility */
}
