
.Header {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.Header-nav {
    display: flex;
    align-items: center;
}


.Header a, .Header button {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;

    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
}


.Header a:hover, .Header button:hover {
    background-color: #3498DB;
    color: white;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .Header-nav {
        flex-direction: column;
    }
}
