
.page-container {
    background-color: #1B2430;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.Header {
    background-color: #2C3E50;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.welcome-message {
    margin-bottom: 30px;
}

.welcome-title {
    font-size: 2.5em;
    color: #EAEAEA;
}


.auth-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.auth-link {
    text-decoration: none;
}


.auth-button {
    background-color: #3498DB;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 30px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


.auth-button:hover, .auth-button:focus {
    transform: scale(1.05);
    background-color: #2980B9;
}


@media (max-width: 600px) {
    .auth-buttons {
        flex-direction: column;
    }

    .auth-button {
        width: 80%;
        margin: 0 auto;
    }
}
