/* Globalni stilovi */
body, html {
    margin: 0;
    padding: 0;
    background-color: #1B2430; /* Tamnoplava pozadina */
    color: #FFF; /* Bijeli tekst */
    font-family: 'Roboto', sans-serif; /* Moderni font */
}

/* Stilovi za listu artikala */
.artikli-list {
    list-style: none;
    padding: 0;
    margin: 20px 0; /* Odvojite listu od zaglavlja */
}

.artikl-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px; /* Razmak između stavki */
    background-color: #2C3E50; /* Malo svjetlija od pozadine */
    border-radius: 5px;
    border: 1px solid #34495E; /* Granica za definiranje svake stavke */
}

/* Unos količine i gumb bliže imenu artikla */
.artikl-name {
    flex-grow: 1;
    margin-right: 20px; /* Razmak prije kontrole količine */
}

.input-group {
    display: flex;
    align-items: center;
    margin-left: auto; /* Automatski pomiče kontrolu količine i gumb desno */
}

.input-group input {
    width: 60px; /* Širina za unos količine */
    margin-right: 5px; /* Razmak između unosa količine i gumba */
    padding: 5px;
    border: 1px solid #3498DB; /* Plava granica */
    background-color: #273B47; /* Tamnije plava za kontrast */
    color: white; /* Bijeli tekst */
    border-radius: 3px;
}

.input-group button {
    padding: 5px 10px;
    background-color: #3498DB;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #2980B9; /* Tamnije plava na hover */
}

/* Stilovi za košaricu */
.kosarica {
    margin-top: 30px;
    background-color: transparent; /* Transparentna za uniformnost */
    padding: 15px;
    border: 1px solid #34495E; /* Slična boja kao stavke */
    border-radius: 5px;

}

.kosarica h3 {
    margin-top: 0; /* Uklanja gornji margin iz h3 */
}

.kosarica ul {
    list-style: none;
    padding: 0;
}

.kosarica li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #34495E; /* Granica između stavki */
    margin-right: 1600px;
}
